extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  //- ul
  //- each val in title
  //-   li= val

  //- ul
  //- each val in links
  //-   li
  //-     a(href=val) click
  
  each link in images
    pre= link
