html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: 微軟正黑;
  text-align: center;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

font {
  display: none;
}

.image-list {
	display: block;
	margin: auto 1rem;
	padding: 0;
	text-align: center;
	list-style: none;
}

img {
	display: inline-block;
	width: 90%;
	max-width: 25rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;

}

img:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 730px) {

	html, body {
		width: 100%;
		height: 100%;
		margin: 0;
		font-size: 10px;
		font-family: 微軟正黑;
		text-align: center;
		background-color: #eee;
	}	

	.image-list {
		display: block;
		margin: auto 1rem;
		padding: 0;
		text-align: center;
		list-style: none;
	}

	img {
		display: inline-block;
		max-width: 35rem;
		margin: auto;
		font-size: 1rem;
		text-decoration: none;
		overflow: hidden;
		box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
		transition: transform 0.1s ease-in-out, box-shadow 0.1s;
	}
}